<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css"
		href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
</head>
<body>
	<div id="main" class="container-fluid">
		<div class="row">
			<h1 id="title">SLIDESHARE</h1>
		</div>
		<div class="row">
			<form id="newShow">
				<input name="title" type="text" placeholder="Name your show!" required="required">
				<button type="submit">Create</button>
			</form>
		</div>
		<div class="row">
			<h1 id="middlemsg">Or view an existing show</h1>
		</div>
		<div class="row">
			<form id="existingShow">
				<input name="hashid" type="text" placeholder="Existing show ID" required="required">
				<button type="submit">Go</button>
			</form>
		</div>
		<div id="about" class="row">
			<h2>ABOUT</h2>
			<p>Slideshare displays a photo from a set of photos that you create.
			Other people that you share your show with can add to the photos.
			Use it at a party to combine pics throughtout the night, or at a
			family reunion to share memories!</p>
		</div>
	</div>

	<div id="shows"></div>
</body>
</html>
