<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/show.css">

	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/js/lib/qrcode.js"></script>
	<script src="/js/show.js"></script>
</head>
<body>
	<div id="side">
		<h2 id="title" data-link="title"></h2>

		<div id="picAdd">
			<span>Add picture: </span>
			<form id="newImage">
				<input type="file" accept="image/*" capture="camera">
				<button type="submit">Upload</button>
			</form>
		</div>

		<h3>Share the show!</h3>
		<p>Link: <a class="link"></a></p>
		<p>Show ID: <span data-link="hash"></span></p>
		<h3>Or scan the QR code below</h3>
		<div id="qrcode"></div>
	</div>

	<div id="picture"></div>

</body>
</html>
