<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/show.css">
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/js/lib/qrcode.js"></script>
	<script src="/js/show.js"></script>
</head>
<body>
	<div id="side">
		<p><a class="main" href="/main">Main Page</a></p>
		<div class="inner">
			<h2 id="title" data-link="title"></h2>

			<div id="picAdd">
				<form id="newImage" style="display:none;">
					<input type="file" accept="image/*" capture="camera">
				</form>
				<button>Add Picture</button>
			</div>

			<h3>Share the show!</h3>
			<p data-link="_id"></p>
			<h3>Or scan the QR code below</h3>
			<div id="qrcode"></div>
		</div>
	</div>

	<div id="picture"><img></div>

</body>
</html>
