body{
  background-color: rgb(151, 170, 246);
  font-family: 'Lato', sans-serif;
}

#title {
  font-size: 4em;
  text-align: center;
}

#newShow {
  width:100%;
  max-width:768px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgb(218, 80, 63);
  padding: 6px;
  /* border: 1px solid rgb(223,66,47); */
  border-radius: 8px;
  text-align: center;
  margin-top: 1.8em;
}

#newShow input[type=text]{
  width: 99%;
  /* line-height: 3.5em; */
  font-size: 3em;
  border-radius: 9px;
  border: 1px solid rgb(218, 80, 63);
}

#newShow button{
  width: 99%;
  font-size: 2em;
  color: white;
  background-color: rgb(66,142,106);
  border: none;
  cursor: pointer;
  border-radius: 9px;
  margin-top: 7px;
}
