body{
  background-color: rgb(41, 128, 185);
  font-family: 'Lato', sans-serif;
  padding: 1em;
  color: white;
}

#title, #middlemsg {
  font-size: 4em;
  text-align: center;
}

#middlemsg {
	/* position: relative; */
	margin-top: 2em;
}

FORM#existingShow {
	background-color:rgb(52, 73, 94);
}

FORM#existingShow button{
	background-color:rgb(149, 165, 166);
}

FORM {
  /* position: relative; */
  width:100%;
  max-width:768px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgb(230, 126, 34);
  padding: 6px;
  /* border: 1px solid rgb(223,66,47); */
  border-radius: 8px;
  text-align: center;
  margin-top: 1.8em;
}

FORM input[type=text]{
  width: 99%;
  /* line-height: 3.5em; */
  font-size: 3em;
  border-radius: 9px;
  border: none;
  /* border: 1px solid rgb(218, 80, 63); */
}

FORM button{
  width: 99%;
  font-size: 2em;
  color: white;
  background-color: rgb(46, 204, 113);
  border: none;
  cursor: pointer;
  border-radius: 9px;
  margin-top: 7px;
}

#about h2{
    text-align: center;

    margin-top: 2em;
    text-decoration: underline;
}

#about p{
    max-width: 498px;
  
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
}
