#body{
  background-color: #f39c12;
  padding-left: 1em;
}

#side{
  position: absolute;
  width: 25%;
}

#side H3{
	text-align: center;
}

#title{
	text-align: center;
}

#picAdd{
    margin-top: 2em;


    margin-bottom: 2em;
}

#picture{
  position:absolute;
  right:0;
  width: 74%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: contain;
}

#qrcode{
  position:absolute;
  width: 100%;
}

#qrcode IMG{
	display:block;
	margin:0 auto;
}

FORM button{
  width: 99%;
  font-size: 2em;
  color: white;
  background-color: rgb(46, 204, 113);
  border: none;
  cursor: pointer;
  border-radius: 9px;
  margin-top: 7px;
}