body{
  background-color: #DEF5F5;
  padding-left: 0.2em;
  font-family: 'Lato', sans-serif;
}

#side{
  position: absolute;
  width: 25%;
  background-color: rgb(255, 164, 134);
  padding: 0.5em;
  border-radius: 5%;
  min-width: 260px;
}

#side H3{
	text-align: center;
}

#side P{
  text-align:center;
}

#side [data-link=_id]{
	font-size: 1.6em;
	font-weight: bold;
	color: rgb(14, 113, 219);
}

#title{
	text-align: center;
	margin-top: 0;
}

#picAdd{
    margin-top: 2em;
    margin-bottom: 2em;
}

#picture{
  position:absolute;
  right:0;
  width: 70%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1em;
}

#qrcode{
  /* position:absolute; */
  width: 100%;
}

#qrcode IMG{
	display:block;
	margin:0 auto;
}

FORM button{
  width: 99%;
  font-size: 2em;
  color: white;
  background-color: rgb(46, 204, 113);
  border: none;
  cursor: pointer;
  border-radius: 9px;
  margin-top: 7px;
}

@media only screen
and (max-width : 1024px) {
  #side{
    width: 96%;

    position: relative;
}

  #picture{
    width: 96%;
    right:auto;

    margin-top: 1em;
}
}
