#body{
  background-color: #f39c12;
}

#side{
  position: absolute;
}

#title{

}

#picAdd{
    margin-top: 2em;


    margin-bottom: 2em;
}

#picture{
  position:absolute;
  right:0;
  width: 74%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: contain;
}

#qrcode{
  position:absolute;
  left:2em;
}
